/* Colors */
/* Element Styles */
* {
  box-sizing: border-box;
}
html,
body {
  font: menu;
  margin: 0;
  padding: 0;
}
html {
  background-color: #ededed;
}
#wallpaper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column;
  flex-flow: column;
  min-height: 100%;
  max-width: 680px;
  margin: 0 auto;
  padding: 30px;
  background: #ffffff;
  border-left: 1px solid rgba(0, 0, 0, 0.25);
  border-right: 1px solid rgba(0, 0, 0, 0.25);
}
header {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row;
  flex-flow: row;
  -webkit-align-items: center;
  align-items: center;
  margin-bottom: 20px;
}
header img {
  width: 48px;
  height: 48px;
  margin-right: 30px;
}
header h1,
header h2 {
  -webkit-flex: auto;
  margin: 0;
}
header h1 {
  font-size: 2.2em;
  font-weight: normal;
}
header h1 .version {
  color: #949494;
  margin-left: 0.5em;
}
header h2 {
  font-size: 1.17em;
  font-weight: normal;
}
footer {
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-flex-flow: column;
  flex-flow: column;
  margin-top: 16px;
  color: #666666;
  text-align: center;
}
h3 {
  display: -webkit-flex;
  display: flex;
  margin: 0 0 12px;
  color: #5f5f5f;
  font-size: 1.17rem;
  font-weight: normal;
  line-height: 2rem;
}
h3::after {
  content: '';
  -webkit-flex: auto;
  flex: auto;
  margin-left: 10px;
  background-image: linear-gradient(#afafaf, transparent 1px);
  background-position: left 55%;
  background-repeat: no-repeat;
  background-size: 100% 1px;
}
a {
  color: #1155cc;
}
/* Input Styles */
input[type=color] {
  min-height: 24px;
  padding: 0;
}
input[type=number] {
  width: 75px;
  padding: 1px 5px;
}
input[type=number].medium {
  width: 150px;
}
input[type=number].wide {
  width: 300px;
}
input[type=range] {
  width: 150px;
}
input[type=range].vertical {
  -webkit-appearance: slider-vertical;
  width: 30px !important;
  margin-right: 50px;
  height: 75px;
}
input[type=range].vertical.medium {
  height: 100px;
}
input[type=range].vertical.tall {
  height: 150px;
}
input[type=text] {
  width: 150px;
  padding: 1px 5px;
}
textarea {
  width: 300px;
  min-height: 60px;
  padding: 1px 5px;
  margin: 1px 0;
}
textarea.tall {
  min-height: 120px;
}
input[type=text].medium,
input[type=range].medium,
textarea.medium {
  width: 300px;
}
input[type=text].wide,
input[type=range].wide,
textarea.wide {
  width: 470px;
}
input[type=text].full,
input[type=range].full,
textarea.full {
  width: 570px;
}
input[type=month],
input[type=week] {
  min-width: 185px;
}
input[type=time] {
  min-width: 120px;
}
select {
  min-width: 150px;
  min-height: 22px;
}
button {
  font-size: 0.9rem;
  margin: 0;
  min-width: 4rem;
  padding: 3px 12px;
}
/* Setting Sections */
section {
  margin: 0 0 24px;
  padding-left: 18px;
}
section h3 {
  margin-left: -18px;
  margin-bottom: 0.8em;
}
section p {
  margin: 0.65rem 0;
}
section label,
section span.row {
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-align-self: center;
  align-self: center;
  -webkit-align-items: center;
  align-items: center;
  margin: 0.5rem 0;
}
section label.wrap,
section span.row.wrap {
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}
section label.disabled,
section span.row.disabled {
  color: rgba(0, 0, 0, 0.5);
}
section label input,
section span.row input,
section label select,
section span.row select,
section label textarea,
section span.row textarea,
section label button,
section span.row button {
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  margin-right: 0.5rem;
}
section label span,
section span.row span {
  min-width: 100px;
}
section label .top,
section span.row .top {
  -webkit-align-self: flex-start;
  align-self: flex-start;
}
section label .bottom,
section span.row .bottom {
  -webkit-align-self: flex-end;
  align-self: flex-end;
}
section label .line,
section span.row .line {
  -webkit-flex: 0 0 100%;
  flex: 0 0 100%;
  margin-bottom: 0.5rem;
}
section label > input[type=checkbox]:first-child,
section span.row > input[type=checkbox]:first-child,
section label > input[type=radio]:first-child,
section span.row > input[type=radio]:first-child {
  margin-left: 0;
}
/* Range bubbles */
input[type=range] + output {
  position: absolute;
  display: block;
  padding: 4px 8px;
  margin-top: -14px;
  background-color: #444444;
  color: #ffffff;
  text-align: center;
  font-weight: bold;
  opacity: 0;
  transition: opacity 0.3s;
}
input[type=range] + output::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -5px;
  margin-top: -1px;
  border-top: 10px solid #444444;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}
input[type=range].vertical + output {
  margin-left: 10px;
  margin-top: 0;
}
input[type=range].vertical + output::after {
  top: 50%;
  left: 0;
  margin-top: -5px;
  margin-left: -10px;
  border-top: 5px solid transparent;
  border-left: none;
  border-right: 10px solid #444444;
  border-bottom: 5px solid transparent;
}
input[type=range]:focus + output,
input[type=range]:hover + output,
input[type=range]:active + output {
  opacity: 1;
}
/* Overlays and Modal Dialogs */
div.overlay {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column;
  flex-flow: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  transition: opacity 0.2s;
}
div.overlay aside {
  position: relative;
  width: 500px;
  background: #ffffff;
  color: #333333;
  box-shadow: 0 4px 23px 5px rgba(0, 0, 0, 0.2), 0 2px 6px rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  -webkit-user-select: none;
}
div.overlay aside h1 {
  margin: 0;
  padding: 18px 26px;
  font-weight: normal;
  font-size: 160%;
  color: #a7a7a7;
}
div.overlay aside div {
  padding: 0 26px 20px;
  -webkit-user-select: auto;
}
div.overlay aside div p {
  margin: 0;
}
div.overlay aside div p + p {
  margin-top: 1em;
}
div.overlay aside footer {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row-reverse;
  flex-flow: row-reverse;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  margin: 0;
  padding: 14px 26px;
  background: #f7f7f7;
  border-top: 1px solid #dedede;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
div.overlay aside footer button {
  margin-left: 0.3rem;
  margin-right: 0.3rem;
}
div.overlay aside.pulse {
  -webkit-animation-duration: 0.18s;
  animation-duration: 0.18s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-name: pulse;
  animation-name: pulse;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}
div.overlay.transparent {
  opacity: 0;
}
div.overlay.transparent aside {
  -webkit-transform: scale(0.99) translateY(-20px);
  transform: scale(0.99) translateY(-20px);
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.02);
  }
  60% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
  }
  40% {
    -webkit-transform: scale(1.02);
  }
  60% {
    -webkit-transform: scale(1.02);
  }
  100% {
    -webkit-transform: scale(1);
  }
}
